<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>CCCC</title>
    <link href="../static/libs/layui/css/layui.css">
</head>

<style type="text/css">
    .container {
        width: 80%;
        max-width: 500px;
        min-height: 100px;
        height: 50%;
        background-color: rgb(139, 182, 182);
        border-radius: 20px;
        position: absolute;
        top: 0px;
        bottom: 0px;
        margin: auto 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    body {
        background-color: rgb(179, 168, 122);
        width: 100%;
        height: 100% ;
        margin: 0;
        padding: 0;
        /* border-color: burlywood; */

        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>

<body>
    <script src="../static/libs/layui/layui.js"></script>

    <div class="container">
        <form enctype="multipart/form-data" id="priceform">
            {% csrf_token %}
            价格表:<input type="file" name="upload" id="src_file"/></br>
        </form>
        </br>

        <div>表格栏目名称(不填则默认第一个) : <input type="text" id="src_sheet_name"/></div></br>
        <div>商品名称列名 : <input type="text" id="src_name_column"/></div></br>
        <div>税前价格列名 : <input type="text" id="src_org_column"/></div></br>
        <div>税后价格列名 : <input type="text" id="src_now_column"/></div></br>

        <form enctype="multipart/form-data" id="destform">
            {% csrf_token %}
            采购表:<input type="file" name="upload" id="dest_file"/></br>
        </form>
        </br>

        <div>采购表格栏目名称(以逗号分割,例如 A,B) : <input type="text" id="dest_sheet_name"/></div></br>
        <div>采购商品名称列名 : <input type="text" id="dest_name_column"/></div></br>
        <div>采购税前价格列名 : <input type="text" id="dest_org_column"/></div></br>
        <div>采购税后价格列名 : <input type="text" id="dest_now_column"/></div></br>

        <div><a href="http://www.w3school.com.cn" id="link_download"></a></div>
        </br><button type="button" id="btn_submit" class="layui-btn">提交数据</button>

    </div>

    <script>
        layui.use(['layer','form','jquery'],function () {
            var layer = layui.layer;
            var form = layui.form;
            var $ = layui.$;

            $("#btn_submit").click(function () {

                var src_files = $('#src_file').prop('files');
                var src_sheet_name = $("#src_sheet_name").val();
                var src_name_column = $("#src_name_column").val();
                var src_org_column = $("#src_org_column").val();
                var src_now_column = $("#src_now_column").val();

                var dest_files = $('#dest_file').prop('files');
                var dest_sheet_name = $("#dest_sheet_name").val();
                var dest_name_column = $("#dest_name_column").val();
                var dest_org_column = $("#dest_org_column").val();
                var dest_now_column = $("#dest_now_column").val();

                var formdata = new FormData();
                formdata.append("src_file",src_files [0]);
                formdata.append("src_sheet_name",src_sheet_name);
                formdata.append("src_name_column",src_name_column);
                formdata.append("src_org_column",src_org_column);
                formdata.append("src_now_column",src_now_column);

                formdata.append("dest_file",dest_files [0])
                formdata.append("dest_sheet_name",dest_sheet_name);
                formdata.append("dest_name_column",dest_name_column);
                formdata.append("dest_org_column",dest_org_column);
                formdata.append("dest_now_column",dest_now_column);

                var loading = layer.load (3);
                $.ajax({
                    method : "post",
                    url : "/export2shop/",
                    cache : false,
                    data : formdata,
                    contentType: false,
                    processData: false
                }).success (function (data) {
                    layer.close (loading);
                    if (data.ret < 0) {
                        layer.msg(data.msg);
                    } else {
                        $("#link_download").text("点击我下载导出表格").attr ("href","/download?file=" + data.data).click(function () {
                            $("#link_download").text("");
                        })
                    }
                }).error (function (err) {
                    alert(err.statusText)
                })
            })

            {#var loading = layer.load(2,{time : 2 * 1000});#}

        })
    </script>

</body>
</html>